<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>GSignUp</servlet-name>
        <servlet-class>servlets.GSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GRedirect</servlet-name>
        <servlet-class>servlets.GRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveForm</servlet-name>
        <servlet-class>servlets.SaveForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>servlets.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitForm</servlet-name>
        <servlet-class>servlets.SubmitForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForm</servlet-name>
        <servlet-class>servlets.DeleteForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadResponse</servlet-name>
        <servlet-class>servlets.DownloadResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateFormLink</servlet-name>
        <servlet-class>servlets.GenerateFormLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reading</servlet-name>
        <servlet-class>servlets.Reading</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GSignUp</servlet-name>
        <url-pattern>/GSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GRedirect</servlet-name>
        <url-pattern>/GRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveForm</servlet-name>
        <url-pattern>/SaveForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitForm</servlet-name>
        <url-pattern>/SubmitForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForm</servlet-name>
        <url-pattern>/DeleteForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadResponse</servlet-name>
        <url-pattern>/DownloadResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateFormLink</servlet-name>
        <url-pattern>/GenerateFormLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reading</servlet-name>
        <url-pattern>/Reading</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
